In [1]:
food_review = """We visited this place for breakfast and dinner.
The place is very conveniently located with ample parking space.
The food at both the meals was tasty and definitely worth the price.
Good quantity served per portion. Service as also good.
Overall, a good place to have food (both south indian and north indian).
Would recommend it definitely"""

In [3]:
"good" in food_review

True

In [7]:
i=0
while(i<10):
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
i=0
while(i<10):
    i=i+1
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [15]:
i=34871290654291
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [16]:
print(range(2,10))

range(2, 10)

In [17]:
#range is a genrator function

In [18]:
print(range(4))

range(0, 4)

In [6]:
a=input()
if(a=="a" or a=="e" or a=="o" or a=="u"):
    print(1)
else:
    print(0)

a
1

In [6]:
N=int(input())
for num in range(2, N + 1):
    
    i = 0
    for i in range(2, num):
        if(num % i == 0):
            
            i = num
            break;
            
if(i != num):
            print(num, end=" ")

50

In [9]:
a = tuple(['a', 'b', 'c', ['ad'], {'a':1}])

In [14]:
sample_set = {"cricket", "NFL", "MLB"}
sample_set.add("football")
sample_set.add("NFL")
sample_set.add("hii")
sample_set.add("byee")
print(sample_set)

{'football', 'byee', 'NFL', 'cricket', 'hii', 'MLB'}

In [15]:
type(sample_set)

set

In [38]:
set1 = {1, 2, 3, 4, 5,'apple','b','app'}

# a list of numbers to add
list_to_add = [5, 3, 2,0,'pen','a','ap']

# add all elements of list to the set
set1.update(list_to_add)

In [39]:
print(set1)

{0, 1, 2, 3, 4, 5, 'apple', 'a', 'ap', 'b', 'pen', 'app'}

In [32]:
set2 = {11, 12, 13, 14}

# 3 lists of numbers
list1 = [15, 16, 17]
list2 = [18, 19]
list3 = [30, 31, 19, 17]

# Add multiple lists
set2.update(list1, list2, list3)

In [33]:
print(set2)

{11, 12, 13, 14, 15, 16, 17, 18, 19, 30, 31}

In [2]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [3]:
sampleDict['class']['student']['marks']['history']

80

In [4]:
t = tuple(['a', 'b', 'c', ['ad']])

In [5]:
t[3]

['ad']

In [6]:
a=['1']

In [7]:
print(a)

['1']

In [8]:
a=a.append('2')